/*bez zapytań o media*/
html{
	height:100%;
}
body{
	font-family:"Open Sands";
	min-width:320px;
	width:100%;
	min-height:100%;
	font-size:1.6rem;
	text-align:center;
}

.site-header.sticky{
	border:none;
}

.sticky .user-nav ul li:first-child{
	margin:4px;
}

.sticky .user-nav ul li{
	margin-top:0;
}
.sticky .user-nav ul li a{
	margin-top:0;
}
.site-header .user-nav ul li:nth-child(3),.site-header .user-nav ul li:nth-child(4),.site-header .user-nav ul li:nth-child(5),.site-header .user-nav ul li:nth-child(6){
	min-width:120px;
}
/* Nawigacja ------------------------------------------------------------------------------------------- */
#spacer1.active{padding-top:76px;}

.site-header{
	font-family: Georgia; 
	transition-property: all;
	transition-duration: 0.3s;
}

.site-header .user-nav{ display:none; }

.site-header .user-nav ul li:first-child{ display:none; }

a.logo{
	background-color:#89B789;
	border-radius:25px;
	padding:10px;
	margin:10px;
	float:left;
	color:#FFFFFF;
	font-style:oblique;
	font-weight:bold;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(153,204,153,1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(153,204,153,1);
	box-shadow: 0px 0px 5px 0px rgba(153,204,153,1);
	text-shadow: 1px -1px 2px rgba(255, 255, 255, 0.5);
}

.hamburger{
	float:right;
	border:0;
	background:0;
	fill:#89B789;
	margin:10px;
}

.user-nav{
	margin:0;
	padding:0px 25px;
	display:none;
	list-style-type:none;
	width:100%;
}

.user-nav ul li a{
	display:block;
	padding:15px;
	border-bottom:1px solid #F5F7F8;
	color:#89B789;
	font-weight:bold;
	text-shadow: 1px -1px 5px rgba(137, 183, 137, 0.5);
}

.spacer{ display:none; }

.user-nav ul li a:hover{
	background-color:#fcfcfc;
	border-radius:10px;
}

.site-header.nav-opened .user-nav{ 
	display:inline-block; 
	position:absolute;
	left:0px;
	background-color:#FFFFFF;
	}
	
.category-nav ul{display:none;}

.site-header.nav-opened{ background-color:#FFFFFF; }

.site-header.nav-opened #Layer_1{ display:none; }

.site-header #Layer_1{ display:block; }

.site-header.nav-opened #svg2{ display:block; }

.site-header #svg2{ display:none; }

.site-header.sticky a.logo{ margin:5px; }

.site-header.sticky .hamburger{ margin:5px; }

.sticky /* Przyklejona nav */{
	background-color:#FFFFFF;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	-webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75);
}

.site-header.nav-opened .user-nav{
	-webkit-box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.75);
	z-index: 100;
}
/* Nawigacja ------------------------------------------------------------------------------------------- */

/* Stopka ------------------------------------------------------------------------------------------- */
footer {
	background-color: #99CC99;
	color:#f9f9f9;
	width:100%;
	text-align:center;
	font-size:1.5rem;
	border-top: 1px solid #669966;
        border-bottom: 1px solid #669966;
	padding:0 10px;
	overflow:auto;
}

.text_link{margin:12px 0;}

.text_link ul a{
	color:#f9f9f9;
	border-right: 1px solid #f9f9f9;
	padding-right:12px;
}

.text_link ul a:hover{text-decoration:underline;}

.text_link ul a.last{border:none;}

.text_link ul li{
	padding:10px 6px 7px 6px;
	display: inline-block;
}

.social_copy{margin:10px 0;}

.copy p.prawa{font-size:1rem;}

.social{
	margin:5px 0;
	padding:5px 0;
	position:relative;
	top:-34px;
	border-top: 1px solid #f9f9f9;
	border-bottom: 1px solid #f9f9f9;
}
.copy{
	position:relative;
	top:63px;
}

.social_icon{font-size:2.4rem;}

.social_icon i:before{margin:5px;}

.social_icon a.facebook{color:#3b5998;}

.social_icon a.googleplus{color:#d34836}

.social_icon a.instagram{color:#bc2a8d;}

.social_icon a.youtube{color:#FF0000}

.cookies{
    width: 100%;
    position:fixed;
    z-index: 1000;
    left: 0;
    bottom: 0;
    background-color: #000000;
    font-size: 1.3rem;
    padding: 5px;
    opacity: 0.9;
}

.cookies button{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #ffffff;
	padding: 5px 10px;
	background: #d42020;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #000000;
	-moz-box-shadow:
		2px 2px 4px rgba(000,000,000,1),
		inset 0px 0px 7px rgba(000,000,000,0.5);
	-webkit-box-shadow:
		2px 2px 4px rgba(000,000,000,1),
		inset 0px 0px 7px rgba(000,000,000,0.5);
	box-shadow:
		2px 2px 4px rgba(000,000,000,1),
		inset 0px 0px 7px rgba(000,000,000,0.5);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0),
		0px 1px 0px rgba(000,000,000,0);
        margin-left: 5px;
}

.cookies button:hover{
    cursor:pointer;
    background: #941616;
    -o-transition: background .5s ease-in;
    -webkit-transition: background .25s ease-in;
    -moz-transition: background .25s ease-in;
}

.cookies span.wide{
    display:none;
}

/* Stopka ------------------------------------------------------------------------------------------- */

@media screen and (min-width: 640px){
	/* Nawigacja ------------------------------------------------------------------------------------------- */
	
	.spacer{ display:block; }
	
	.site-header .user-nav ul li:first-child{ display:block; }
	
	.site-header .user-nav{ display:block; }
	
	a.logo{display:none;}
	
	.hamburger{display:none;}
	
	.site-header.nav-opened .user-nav{position:static;}
	
	.site-header.nav-opened,.site-header.nav-opened .user-nav{background-color:initial;}
	
	.user-nav{padding:0;}
	
	.user-nav ul{ display:flex; }
	
	.user-nav ul li a{
		border:none;
		padding:5%;
	}
	
	.user-nav ul li:first-child a{
		color:#FFFFFF;
		text-shadow: 1px -1px 2px rgba(255, 255, 255, 0.5);
		padding:10px;
		margin-top:0;
	}
	
	.user-nav ul li a{text-shadow: 1px -1px 2px rgba(255, 255, 255, 0.5)}
	
	.user-nav ul li{margin-top:5px;}
		
	.user-nav ul li:first-child{
		background-color:#89B789;
		border-radius:25px;
		margin:10px;
		color:#FFFFFF;
		font-style:oblique;
		font-weight:bold;
		-webkit-box-shadow: 0px 0px 5px 0px rgba(153,204,153,1);
		-moz-box-shadow: 0px 0px 5px 0px rgba(153,204,153,1);
		box-shadow: 0px 0px 5px 0px rgba(153,204,153,1);
	}
	
	.user-nav ul li a:hover{text-decoration:none;}
	
	.user-nav ul li:first-child a:hover{
		background-color:#89B789;
		border-radius:25px;
		-webkit-box-shadow: 0px 0px 25px 0px rgba(255,255,255,1);
		-moz-box-shadow: 0px 0px 25px 0px rgba(255,255,255,1);
		box-shadow: 0px 0px 25px 0px rgba(255,255,255,1);
	}
	
	.user-nav .spacer{ flex:1; }
/* Nawigacja ------------------------------------------------------------------------------------------- */

/* Stopka ------------------------------------------------------------------------------------------------ */	
	.social_copy{
		display:flex;
		border-top: 1px solid #f9f9f9;
		padding-top:15px;
	}
	
	.social,.copy{
		flex:1;
		position:static;
		padding:5px 0;
		margin:5px 0;
	}
	
	.social{
		flex:0.6;
		margin:0;
		padding:0;
		border-top:none;
		border-bottom:none;
		text-align:right;
		padding-right:2.5%;
	}
	
	.copy{
		flex:0.4;
		text-align:left;
		padding-left:2.5%;
		margin-top:0;
	}
	
	.social_container p{
		display:inline-block;
		position:relative;
		top:-3px;
	}
        
	.social_icon{display:inline-block;}
        
        .cookies span.wide{
            display:initial;
        }

        .cookies span.narrow{
            display:none;
        }
	/* Stopka ------------------------------------------------------------------------------------------------ */
}

@media screen and (min-width: 1024px){
        .max_width{
            max-width: 1366px;
            margin-left: auto;
            margin-right: auto;
        }
        
        .category-nav{
            background-color:#C5C5C5;
        }
        
        .category-nav ul li i:before{
            width: 70px;
        }
	/* Nawigacja ------------------------------------------------------------------------------------------- */
        .site-header{ border-bottom: 2px solid #7ba47b;}
        
	.category-nav ul{
		background-color:#C5C5C5;
		opacity:0.8;
		display:flex;
	}
	
	.category-nav ul li{
		flex:1;
	}
	
	.category-nav ul li a{
		width:100%;
		height:100%;
		padding:10px 5px;
	}
	
	.category-nav ul li:hover{background-color:#d0d0d0;}
	
	.category-nav ul li a:hover{text-decoration: none;}
	
	.category-nav ul li a{display:block;}
	
	.category-nav ul li i{
		font-size:5rem;
		margin-bottom:10px;
		display:block;
	}
	/* Nawigacja ------------------------------------------------------------------------------------------- */

	/* Stopka ------------------------------------------------------------------------------------------------ */
	.social_container p{
		display:inline-block;
		position:relative;
		top:-3px;
	}
	.social_icon{display:inline-block;}
	/* Stopka ------------------------------------------------------------------------------------------------ */
}