body{
    height: 100%;
}

.content{
    margin:10px;
    position: relative;
    min-height:-webkit-calc(100% - 245px);
    min-height:-moz-calc(100% - 245px);
    min-height:calc(100% - 245px);
}

.faq h4{
    margin:100px auto 5px auto;
}

.component{
    width:100%;
    margin:15px auto;
}

.header__p{
    text-align: left;
    font-size:1.8rem;
    max-width: 600px;
    margin:10px auto 30px auto;
}

.label-component{
    display:none;
}

.red-star{
    color:#fc0000;
}

.input-component{
    width:100%;
    max-width: 600px;
}

.input-component--textarea{
    min-height: 200px;
}

.button-green{
    width:75%;
    max-width: 500px;
    margin:1px auto;
}

.button-green:hover{
    margin:0 auto;
}

.feedback p.positive{
    position:absolute;
    padding: 10px;
    top:0px;
    margin-left:5%;
    font-size: 2.4rem;
    font-weight: bold;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
}

@media screen and (min-width: 640px){
    .label-component{
        display:block;
        max-width: 200px;
        margin:0 auto;
        text-align: left;
        font-weight: bold;
        font-size: 2rem;
        margin-bottom: 2px;
    }
    
    .feedback p.positive{
        margin-left:calc(50% - 287.5px);
    }
}

@media screen and (min-width: 1024px){
    .component{
        display:flex;
    }
    
    .label-component{
        flex:0.25;
        margin:10px 2px 0 auto;
        text-align: right;
    }
    
    .input-component{
        flex:0.75;
        margin-right: auto;
    }
}

