h4,p{text-align: left;}

h4{
    line-height: 1;
    padding:0 10px;
}

li.circle{
    list-style-type: circle;
}

li.lower-alpha{
    list-style-type: lower-alpha;
}

#regulations{
	line-height:1.5rem;
	font-family: Verdana,serif;
	padding:1%;
	color:#222222;
}

#regulations h6{
	background-color:#b7dbb7;
	margin:32px 0 16px 0;
	line-height:2.4rem;
}

#regulations ol{
    font-size: 1.3rem;
    list-style-type: decimal;
    text-align: left;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

#regulations ol li{
    margin-bottom: 5px;
    margin-right: 4px;
}



@media screen and (min-width: 640px){
    
    #regulations ol{
        font-size: 1.4rem;
        line-height:1.6rem;
    }

    #regulations ol li{
        margin-bottom: 7px;
        margin-right:7px;
    }
}


@media screen and (min-width: 1024px){
    #regulations{padding:5% 10%;}
    
    #regulations ol{
        font-size: 1.5rem;
        line-height:1.7rem;
    }

    #regulations ol li{
        margin-bottom: 10px;
        margin-right:10px;
    }
}