body{height:100%;}

article#content{
    display:flex;
    height:-webkit-calc(100% - 114px);
    height:-moz-calc(100% - 114px);
    height:calc(100% - 114px);
}

article#content.max-height{
    height:-webkit-calc(100% - 128px);
    height:-moz-calc(100% - 128px);
    height:calc(100% - 128px);
}

#userbox{
	flex:0.4;
	min-height:100%;
	border-right:2px solid #99cc99;
	max-width:65px;
	overflow:scroll;
}

#userbox::-webkit-scrollbar {
    width: 5px;
	height: 0px;
}
 
#userbox::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
#userbox::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
   border-radius: 20px 20px;
}

#message::-webkit-scrollbar {
    width: 5px;
	height: 0px;
}
 
#message::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
#message::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
   border-radius: 20px 20px;
}

#inbox{
	flex:1;
	min-height:100%;
	display:flex;
	flex-direction:column;
}

#message{
	position: relative;
	bottom:0;
	flex:1;
	overflow:scroll;
}
#send{
	padding:7px;
	height:56px;
}

#send input{
	width:100px;
}

#send form{
	display:flex;
}

.user{padding-left:5px;}

.user:hover{cursor: pointer;}

.user img{
	width:50px;
	height:50px;
	border-radius:10px;
	margin:5px 5px 5px 0;
}

.text{display:none;}

.right{
	margin:5px 5px 5px 30%;
	text-align:right;
}

.right span.text_ms{
        display:inline-block;
	padding:6px 12px;
	background-color:#7aa37a;
	border-radius:13px;
        color:whitesmoke;
}

.right span.unread{
    background-color:#079426;
}

.left{
	margin:5px 30% 5px 5px;
	text-align:left;
}

.left span.text_ms{
	padding:10px;
	padding:6px 12px;
	border-radius:13px;
        background-color:#add6ad;
        display:inline-block;
        max-width:-webkit-calc(100% - 32px);
        max-width:-moz-calc(100% - 32px);
        max-width:calc(100% - 32px);
}

.left img{
	width:28px;
	height:28px;
	margin:2px;
	border-radius:50%;
        display:inline-block;
        position: relative;
        top:9px;
}

.right span.date, .left span.date{
        display:block;
	font-size:1.2rem;
	color:#b2b2b2;
}

.send{
	flex:1;
	margin:0 10px;
}

#ms{display:none;}

.message_info{
    flex:1;
    display:flex;
    padding: 10px 0;
    font-size: 1.4rem;
}

.message_info div{flex:1;}

.message_info i{
    font-size: 2.4rem;
    margin:6px 18px;
    color:#b2b2b2;
}

.message_info i:hover{
    color:#6b6b6b;
    cursor:pointer;
}

.options__ul{
    width: 100px;
    position:relative;
    z-index: 1000;
    height:0px;
}

.options__ul li:first-child{
    border-radius: 5px 5px 0 0;
}

.options__ul li:last-child{
    border-radius: 0 0 5px 5px;
}

.options__ul li{
    padding: 5px;
    background-color: #b2b2b2;
/*    border-radius: 5px;usunąć po dodaniu więcej niż jednego elementu do listy*/
}

.message_info i::before{
    margin:0;
}

.message_info h5{
    margin:0;
    margin-bottom:5px;
}

#message_header{
    display:flex;
    border-bottom: 2px solid #89B789;
}

.user.activ{
    background-color:#89B789;
}

.more i::before{
    font-size:2rem;
    margin:10px;
}

.more i:hover{
    cursor:pointer;
}

button.options{
    font-size:3rem;
    position:relative;
    top:-3px;
    line-height:0;
    color:#6b6b6b;
    background-color: #FFFFFF;
    border-width: 0px;
}

button.options:focus{
        outline: -webkit-focus-ring-color auto 0px;
}

button.options:hover{
    cursor:pointer;
    color:#000000;
}

.delete{
    padding:2px;
    background-color:#b2b2b2;
    border-radius:2px;
}

.left .delete:hover,.right .delete:hover{
    cursor:pointer;
}

@media screen and (min-width: 640px){
	article#content{
		height:-webkit-calc(100% - 116px);
		height:-moz-calc(100% - 116px);
		height:calc(100% - 116px);
	}
}

@media screen and (min-width: 800px){
	#userbox{max-width:325px;}
	
	.user{
		display:flex;
		padding:0 5px;
	}
	
	.text{
		display:initial;
		margin:5px 0;
		width:100%;
                overflow: hidden;
	}
	
	.text span.add_name{
		display:block;
		font-weight:bold;
		text-align:left;
	}
	
	.text span.user_name{
		display:block;
		font-size:1.4rem;
		text-align:left;
	}
        
        #ms{
            max-width: 325px;
            display:initial;
            flex:0.4;
            border-right: 2px solid #89B789;
        }
        
        #ms h4{margin:16px 0;}

}

@media screen and (min-width: 1024px){
	article#content{
		height:-webkit-calc(100% - 228px);
		height:-moz-calc(100% - 228px);
		height:calc(100% - 228px);
	}
	
	#send{padding:7px 5%;}
}

@media screen and (min-width: 1310px){
	article#content{
		height:-webkit-calc(100% - 212px);
		height:-moz-calc(100% - 212px);
		height:calc(100% - 212px);
	}
}